<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
					<h1>Welcome!</h1>
			</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row centered">
						<div class="col-lg-12">
							<h2>Zagolovok 1</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum lacus lectus, vitae lobortis purus sollicitudin at. Aenean iaculis euismod urna. In condimentum sed felis at hendrerit. Praesent laoreet libero nulla, vitae convallis dolor facilisis a. Maecenas tempus tellus vitae laoreet pharetra. Sed lorem nibh, lacinia non nisl nec, aliquam placerat odio. Proin vel urna pharetra metus luctus rutrum.</p>
							<h2>Students Table</h2>
						</div>
					</div>
				</div>
<div class="container">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Phone Number</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let person of people">
							<td>{{person.id}}</td>
							<td>{{person.name}}</td>
							<td>{{person.number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
