<form class="form-horizontal" role="form" name="newHomeWork" method="post">
	<div class="form-group">                
		<label class="control-label col-md-2" for="subject">Subject:</label>
		<div class="col-md-3"><input class="form-control" type="subject" form="newHomeWork" id="subject" placeholder="Enter the subject"/></div>             
	</div> 
	<div class="form-group">                
		<label class="control-label col-md-2" for="date">Date of issue:</label>
		<div class="col-md-3"><input class="form-control" type="date" form="newHomeWork" id="date" placeholder="YYYY-MM-DD" name="whenGiven"/></div>
	</div>
	<div class="form-group">                
		<label class="control-label col-md-2" for="subdate">Submission date:</label>
		<div class="col-md-3"><input class="form-control" type="date" form="newHomeWork" id="date" placeholder="YYYY-MM-DD" name="whenPass"/></div>          
	</div>
	<div class="form-group">                
		<label class="control-label col-md-2" for="description">Task text(description):</label>                               
		<div class="col-md-3"><input class="form-control" type="description" form="newHomeWork" id="description" placeholder="Enter the description"/></div>
	</div>
	<div class="form-group">        
		<label class="control-label col-md-2" for="file">Attach file:</label>
		<div class="col-md-3"><input type="file" form="newHomeWork" id="file"/></div>
		<button class="btn btn-success" type="submit" form="newHomeWork">Add information                                                                                                </button>                                                       
	</div>
</form>

