<form action="http://127.0.0.1:5000/uploadMeeting" class="form-horizontal" role="form" name="newInfo" method="POST" enctype="multipart/form-data">
	<p>Add new information:</p>
	<div class="form-group">
		<label class="control-label col-md-2" for="info">Info Name:</label>
		<div class="col-md-3">
			<input class="form-control" type="text" form="newInfo" name="place" placeholder="Enter the place" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="info">Text info:</label>
		<div class="col-md-5">
			<textarea class="form-control" type="text" form="newInfo" name="date" placeholder="Enter the text info"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="info">Add File(s):</label>
		<div class="col-md-2">
			<input type="file" name="fileDotName" form="newInfo" />
		</div>
	</div>
	<!--TODO make for lots of files-->
	<div class="col-md-">
		<button class="btn btn-success" type="submit" form="newInfo">Confirm </button>
	</div>
</form>
