<article>
	<header>
		<div class="container">
			<h1>Information about meetings</h1>
			<article *ngIf="display; else noMeeting">
				<header>
					<h2>{{meeting.place}} at {{meeting.date}}</h2>
				</header>
				<p>{{meeting.description}}</p>
				<p>На встречу идут:</p>
				<div class="panel-group" id="collapse-group">
					<div class="panel">
						<div class="panel-heading"><a data-toggle="collapse" data-parent="#collapse-group" href="#el1">List of people</a></div>
						<div class="collapse" id="el1">
							<div class="panel-body">
								<table class="table">
									<thead>
										<tr>
											<th>Id</th>						
											<th>Name</th>
											<th>Number</th>
											<th>Coming</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let person of people">
											<td>{{person.id}}</td>
											<td>{{person.name}}</td>
											<td>{{person.number}}</td>
											<td *ngIf="person.isComing; else noComing">Yes</td>
											<ng-template #noComing><td>No</td></ng-template>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-info" name="makePassed" (click)="makePassed()">Отметить как прошедшую</button>
			</article>
			<ng-template #noMeeting>
				<meeting-form></meeting-form>
			</ng-template>
		</div>
	</header>
</article>


