extends layout.pug
block content
	//isComing defines if person is coming to the next event or not. id is number in the journal
	+makeHeaderAndNav(menu, "Главная")
	article
		//header for carousel
		each person in people/*Make corusel*/
			div.row
				div.col-lg-12
					div.col-lg-3
						span #{person.id}
					div.col-lg-3
						span #{person.name}
					div.col-lg-3
						span #{person.number} 
					div.col-lg-3
						if person.isComing
							span В деле
