extends layout.pug
block content
	//isComing defines if person is coming to the next event or not.id is number in the journal
	+makeHeaderAndNav(menu,"Главная")
	html
		head
		body
			#headerwrap
				.container
					.row.centered
						.col-lg-12
							.col-lg-4
							.col-lg-4
							
								h1
									|Welcome!
			.container
				.row.centered
					.col-lg-12
						h2
							|Zagolovok 1
						p
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum lacus lectus, vitae lobortis purus sollicitudin at. Aenean iaculis euismod urna. In condimentum sed felis at hendrerit. Praesent laoreet libero nulla, vitae convallis dolor facilisis a. Maecenas tempus tellus vitae laoreet pharetra. Sed lorem nibh, lacinia non nisl nec, aliquam placerat odio. Proin vel urna pharetra metus luctus rutrum.

						h2
							|Students Table
		.container
			table.table
				thead
					tr
						th Id
						th Name
						th Phone Number
				tbody
					tr
						td 1
						td Авдеев Алексей
						td 095-473-06-68
					tr
						td 2
						td Благой Владислав
						td 095-097-17-00
					tr
						td 3
						td Буданцев Павел
						td 099-678-06-58
					tr
						td 4
						td Возгрива Аннa
						td 097-250-50-41
					tr
						td 5
						td Волоховский Виталий
						td 068-438-87-08
					tr
						td 6
						td Гончаров Дмитрий
						td 066-185-40-38
					tr
						td 7
						td Гулиев Нурал
						td 099-781-82-16
					tr
						td 8
						td Зинченко Юрий
						td 093-130-60-70
					tr
						td 9
						td Иваненко Виктория
						td 099-018-85-16
					tr
						td 10
						td Исаева Эльвира
						td 050-555-96-15
					tr
						td 11
						td Киевский Александр
						td 066-028-60-41
					tr
						td 12
						td Кириленко Елена
						td 066-599-65-30
					tr
						td 13
						td Лукашов Дмитрий
						td 096-841-34-36
					tr
						td 14
						td Лютова Камила
						td 095-716-43-38
					tr
						td 15
						td Максименко Даниил
						td 099-629-70-91
					tr
						td 16
						td Михайленко Роман
						td 099-328-54-48
					tr
						td 17
						td Осташко Евгений
						td 098-213-60-89
					tr
						td 18
						td Пилипенко Сергей
						td 066-930-04-08
					tr
						td 19
						td Сайчишина Наталия
						td 099-288-50-26
					tr
						td 20
						td Тесленко Денис
						td 099-639-14-68
					tr
						td 21
						td Титаренко Степан
						td 099-402-32-51
					tr
						td 22
						td Фрегер Олег
						td 095-225-11-99
					tr
						td 23
						td Хазратов Назар
						td 050-880-92-77
					tr
						td 24
						td Ховрат Артём
						td 096-424-48-36
					tr
						td 25
						td Щербина Анастасия
						td 066-055-17-34
