extends layout.pug
block content
	+makeHeaderAndNav(menu, "Лекции")
	- var lectures = [{subject:"Opi", fileName:"Pres.ppt", source:"#", date:"2000-00-00", description:"Description"}];
		html
		head
		body
			.container
				.row
					h1 Lectures
					p Here you can find useful information on the following subjects:
					#collapse-group.panel-group
						.panel
							.panel-heading
								a(data-toggle='collapse', data-parent='#collapse-group', href='#el1') List of files
							#el1.collapse
								.panel-body
									table.table
										thead
											tr
												th Subject
												th File
												th Description
										tbody
											tr
												each lecture in lectures
													td
														span #{lecture.subject}
													td 
														a(href=lecture.source) #{lecture.fileName}
													td 
														span #{lecture.description}
				.container
					form(role='form' name="newLection" method="post").form-horizontal
						.form-group
							label(for='subject').control-label.col-md-2 Subject's Title:
							.col-md-3
								input(type="subject" class="form-control" form="newLection" id='subject' placeholder='Enter the title')
						.form-group
							label(for='subject').control-label.col-md-2 File description:
							.col-md-3
								input(type="description" class="form-control" form="newLection" id='description' placeholder='Enter a description')
						.form-group
							label(for='file').control-label.col-md-2 Attach file:
							.col-md-3
								input(type="file" form="newLection" id='file')
								
						button(type="submit" form="newLection").btn.btn-success
							|Add information


